<html>
  <head>
    <meta charset="utf-8">
    <title>Fake Bing</title>
  </head>
  <body>
    <h1>Fake Bing</h1>
    <!-- 액션은 아래 들어있는 값을 해당 주소로 날려주는 역할을 한다. -->
    <form action="https://www.bing.com/search?">
      Bing 검색: <input type="text" name="q"><br>
      <input type="submit" value="검색하기">
    </form>
  </body>
</html>
